/*# Global Css Start  */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a,
ins {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

/*# a2n blog card start  */
.a2n-blog_card {
  max-width: 270px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(105, 141, 152, 0.15);
  .a2n_thumb {
    img {
      max-width: 238px;
      width: 100%;
      height: 158px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  .a2n-blog__contents {
    .blog_date {
      margin: 8px 0;
      color: #233838;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 25.2px;
      i {
        margin-right: 8px;
        font-size: 16px;
      }
    }
    .blog_title {
      h2 {
        margin: 0 0 16px;
        color: #144345;
        font-family: "Work Sans", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 84px;
        a {
          color: inherit;
        }
      }
    }
    .a2n_blog_btn {
      padding: 11px 26px 12px 26px;
      border-radius: 7px;
      border: 1px solid #00a298;
      color: #00a298;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 16.8px;
      transition: all 0.3s ease;
      &:hover {
        background: #00a298;
        color: #fff;
      }
    }
  }
}
/*# a2n blog card end  */
/*#  a2n bundle course start  */
.a2n-bundle_course {
  width: 100%;
  border-radius: 6.852px;
  border: 0.964px solid #e2e8f0;
  background: #fff;
  .bundle_thumb {
    position: relative;
    img {
      max-width: 100%;
      width: 100%;
      height: 228px;
      object-fit: cover;
      border-radius: 6.852px 6.852px 0px 0px;
    }
  }
  .bundle_tip {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 29.806px 0px 0px 0px;
    background: #18b5d7;
    padding: 15px 18px 15px 21px;
  }
  .a2n-bundle__contents {
    padding: 20px 20px 18px;
    .bundle_title {
      h2 {
        margin: 0;
        color: #164833;
        font-family: "Work Sans", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 33.6px;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 66px;
        a {
          color: inherit;
        }
      }
    }
    .bundle_price {
      margin: 24px 0;
      strong {
        display: flex;
        gap: 9px;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: start;
        font-family: "Open Sans", sans-serif;
        ins {
          span {
            color: #18b5d7;
            font-family: "Open Sans", sans-serif;
            font-size: 37.828px;
            font-weight: 700;
            line-height: 41.611px;
          }
        }
        del {
          color: rgba(42, 65, 55, 0.5);
          font-family: "Open Sans", sans-serif;
          font-size: 22.697px;
          font-weight: 500;
          line-height: 24.967px;
          span {
            color: inherit;
            font-size: inherit;
            font-size: inherit;
          }
        }
      }
      .woocommerce-price-suffix {
        display: none;
      }
    }
    .a2n-bundle_details {
      min-height: 80px;
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      li {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #233838;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-transform: capitalize;
      }
    }
    > hr {
      height: 1.142px;
      margin: 15px 0;
      background: #e2e8f0;
    }
  }
  .a2n_bundle_btn {
    display: block;
    padding: 15px 30px;
    border-radius: 7px;
    border: 1px solid #00a298;
    color: #00a298;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    transition: all 0.3s ease;
    &:hover {
      background: #00a298;
      color: #fff;
    }
  }
}
.a2n-course_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  place-items: center;
}
/*#  a2n bundle course end  */
